body{
    background-color: rgb(24, 22, 32);
    color: azure;
    padding: 7px;
    margin: 18px;
}
input,select{
    margin: 8px;
    padding: 9px;
    border-radius: 13px;
}
button{
    margin-top: 30px;
    margin-left: 25px;
}